.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #090e1a;
  overflow: hidden;
}

.globeWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
