.root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.headerBar {
  padding-top: 12px;
  padding-bottom: 4px;
}

@media (min-width: 600px) {
  .headerBar {
    padding-top: 20px;
    padding-bottom: 8px;
  }
}

@media (min-width: 900px) {
  .headerBar {
    padding-top: 32px;
    padding-bottom: 12px;
  }
}

.breadcrumb {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-height: 32px;
}

@media (min-width: 600px) {
  .breadcrumb {
    gap: 24px;
  }
}

.menuButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 0.7rem;
}
