*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100dvh;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
  }
}
